@import "tailwindcss";

html body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1rem;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
