---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kostin.Life</title>
	</head>
  <body>
    <div>
      <p>KOSTIN.LIFE</p>
      <a href="articles/its-so-over-we-are-so-back">It's so over 🔄 We are so back</a>
      <a href="articles/on-two-years-of-neovim.html">On Two Years of Neovim</a>
      <a href="articles/memories-of-bogota.html">Memories of Bogota</a>
      <a href="articles/the-optimal-setup-to-spend-canadian-dollars.html"
        >The Optimal Setup to Spend Canadian Dollars Abroad</a
      >
      <a href="articles/for-gods-sake-just-publish-it.html"
        >For God's Sake Just Publish It</a>
    </div>
  </body>
</html>
