---
import CenteredLayout from '../layouts/CenteredLayout.astro';
---
<CenteredLayout title="kostin.life", description="Assorted ramblings">
  <div class="w-fit text-center">
    <p class="pb-4">KOSTIN.LIFE</p>
    <a class="link" href="articles/i-am-not-a-restaurant-person">I am not a Restaurant Person</a><br>
    <a class="link" href="articles/on-postcards">On Postcards</a><br>
    <a class="link" href="articles/memories-of-lisong">Memories of Lisong</a><br>
    <a class="link" href="articles/my-letterboxd-top-4">My Letterboxd Top 4</a><br>
    <a class="link" href="https://kostin.dev/blog/on-developer-experience">On Developer Experience</a><br>
    <a class="link" href="articles/limit-your-to-do-list-to-3-tasks">Limit Your To-Do List to 3 Tasks</a><br>
    <a class="link" href="articles/i-listen-to-music-all-the-time-but-am-incapable-of-talking-about-it">I listen to music all the time, but am incapable of talking about it</a><br>
    <a class="link" href="articles/nothing-compares-to-running">Nothing Compares to Running</a><br>
    <a class="link" href="articles/how-I-manage-my-photos">How I Manage My Photos</a><br>
    <a class="link" href="articles/its-so-over-we-are-so-back">It's so over 🔄 We are so back</a><br>
    <a class="link" href="articles/on-two-years-of-neovim">On Two Years of Neovim</a><br>
    <a class="link" href="articles/memories-of-bogota.html">Memories of Bogota</a><br>
    <a class="link" href="articles/the-optimal-setup-to-spend-canadian-dollars.html"
      >The Optimal Setup to Spend Canadian Dollars Abroad</a
    ><br>
    <a class="link" href="articles/for-gods-sake-just-publish-it"
      >For God's Sake Just Publish It</a>
  </div>
</CenteredLayout>
