---
export const prerender = false

import BaseLayout from '../layouts/BaseLayout.astro';

import { drizzle } from "drizzle-orm/d1";
import { eq, desc } from "drizzle-orm";
import * as schema from "../db/schemas";

const { env } = Astro.locals.runtime;

const db = drizzle(env.DB, { schema });

const lastPlayed = await db
  .select({
    title: schema.songMetadata.name,
    artist: schema.songMetadata.artistId,
    timestamp: schema.listeningHistory.timestamp,
    url: schema.songMetadata.url,
  })
  .from(schema.listeningHistory)
  .innerJoin(
    schema.songMetadata,
    eq(schema.listeningHistory.id, schema.songMetadata.id),
  )
  .orderBy(desc(schema.listeningHistory.timestamp))
  .limit(10);
---

<BaseLayout title="Music", description="Stats about what I've been listenting to">
  {lastPlayed.map((song) => (
    <p>
      <a href={song.url} target="_blank" rel="noopener noreferrer">
        {song.title}
      </a>
    </p>
  ))}
</BaseLayout>
